<html>
    <head>
      {% if title %}
      <title>{{ title }} - Myapp</title>
      {% else %}
      <title>Welcome to Myapp</title>
      {% endif %}
    </head>
    <body>
        <div>Myapp: 
          <a href="{{url_for('index')}}">Index</a>
          <a href="{{url_for('register')}}">Register</a>
          {% if current_user.is_anonymous %}
          <a href="{{url_for('login')}}">Login</a>
          {% else %}
          <a href="{{url_for('logout')}}">Logout</a>
          {% endif %}
        </div>
        <hr>
        {% if current_user.is_authenticated %}
        <h2>Hi, {{current_user.email}}!</h2>
        {% endif %}
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
          {% for message in messages %}
          <li>{{ message }}</li>
          {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>