<!doctype html>
<html>
    <head>
        <title>Đăng kí</title>
        <meta charset = "UTF-8">
    </head>

    <body>
        <script>
        </script>
        <div class="to">
            <form method=post action = "">
                <h2>Đăng kí</h2>
                Email:<input type="email" name="email" required="required"><br><br>
                Mật khẩu:<input id="password" type="password" name="password" onchange="Check()"><br><br>
                Nhập lại mật khẩu:<input id="confirm_password" type="password" name = "confirm_password" 
                required="required" onchange= "Check()"><br><br>
                <span id='message'></span><br><br>
                <input id="submit" type="submit" name="submit" value="Đăng kí" onclick="check_confirm()"><br><br>
            </form>

            <script>
                function Check(){
                    if (document.getElementById('password').value == document.getElementById('confirm_password').value) {
                        document.getElementById('message').style.color = 'green';
                        document.getElementById('message').innerHTML = 'matching';
                    } else {
                        document.getElementById('message').style.color = 'red';
                        document.getElementById('message').innerHTML = 'not matching';
                    }
                }

                function check_confirm(){
                    if(document.getElementById('message').innerHTML == 'not matching'){
                        document.getElementById('confirm_password').reset();
                    }
                }

            </script>                
        </div>
    </body>
</html>
<!--pattern = "^(?=.*?[A-Z])(?=.*?[#?!@$%^&*-]).{8,}$"
title = "mật khẩu dài hơn 8 ký tự gồm có ít nhất 1 ký tự in hoa và 1 ký tự đặc biệt."-->
